* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

nav .logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

nav .logo img {
    height: 40px;
    margin-right: 10px;
}

nav .nav-links {
    list-style: none;
    display: flex;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

nav .social-links {
    display: flex;
    align-items: center;
}

nav .social-links a {
    margin-left: 10px;
}

nav .social-links img {
    height: 30px;
}

.podcast-content, .home-content, .book-content, .blog-content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

/* Ensures that h1 and h2 are centered within their container */
.podcast-content h1, .home-content h1, .book-content h1, .blog-content h1 {
    font-size: 2.5em;
    color: #444;
    margin: 20px auto;
    text-align: center;
}

.podcast-content h2, .home-content h2, .book-content h2, .blog-content h2 {
    font-size: 1.5em;
    color: #444;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.video-container {
    margin: 20px 0;
    text-align: center;
}

.video-container iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
}

.podcast-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.podcast-links a {
    margin: 0 10px;
}

.podcast-links img {
    height: 40px;
}

.books-row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;  
    margin-bottom: 40px;
}

.book {
    width: 23%;  
    text-align: center;
    margin-bottom: 20px;
}

.book img {
    width: 100%;
    height: 300px;
    object-fit: contain; 
}

.book a {
    font-weight: bold; 
    color: #000;
    text-decoration: underline;
    display: block;
    margin-top: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.about-content {
    text-align: center; 
    max-width: 1700px;    
    margin: 0 auto;      
    padding: 40px;       
}

.episode-dropdown {
    margin-bottom: 20px;
    text-align: center;
}

.episode-dropdown label {
    font-size: 1.2em;
    margin-right: 10px;
}

.episode-dropdown select {
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav .nav-links {
        flex-direction: column;
    }
    nav .nav-links li {
        margin: 10px 0;
    }
    .podcast-content h1, .home-content h1, .book-content h1, .blog-content h1 {
        font-size: 2em;
    }
    .books-row {
        flex-direction: column;
        align-items: center;
    }
    .book {
        width: 100%;
    }
    .book img {
        width: 100%;
        height: auto;
    }
}